
body{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}
.consmal{
    font-size: 15px;
font-weight: 800;
}
.h2w{
    font-size: 45px;
    font-weight: 700;
}
h1{
    padding: 0;
    margin: 0;
}
h2{
    margin: 0;
    padding: 0;
}
/* animation tech */
#para1 {
    /* padding: 20px 50px 20px 60px ; */
    font-family:  monospace;
    font-size: 28px;
    font-weight:500;
    text-align: justify;
    /* width: 400px; */
    /* width: 40px; */
  }

/* ok :) */
.vai{
  padding: 150px 250px 50px 170px;
  /* text-align: center; */
  /* margin: 150px 250px 150px 170px; */

  /* right: 20%; */
}
.sec1{
  padding: 150px 0px 50px 170px;

}
.vai29{
  padding: 100px 0 50px 0;
}

  /*  new css  */


  #title{
    background-color:white;
    opacity:0.8;
    text-align: left;
  }

  /*NAVBAR
  font weight */
  .navbar-brand{
    font-family:'Mochiy Pop P One', sans-serif;
    font-size:30px !important;

  }
  .navbar{
    padding:0 0 5rem;
  }
  .nav-item{
    padding:0px 18px;
    color:black;
   cursor: pointer;
   z-index: 2;
    opacity:0.5;
  }
  .nav-item:hover{
    color:black;
  opacity: 1000;
  }
  .nav-link{
    font-size:1.2rem;
    font-family:'Merriweather Sans',sans-serif;
  }



/* section 1 css */

.contuner{
  /* left: 420px; */
  /* bottom:150px; */
  /* width: 100%; */
  right: 150px;
  top: 10px;
  /* top: 200px; */
  position: relative;
/* bottom: 0px; */
/* top: -0px; */
  /* display:block;   */
  /* height: 100%; */
  z-index: 1;
  
  overflow: hidden;
}
.slide-container{
  position: relative;
  /* width: 100%; */

  /* float:right; */
/* text-align: center; */

  /* float: left; */
  /* max-height: 670px; */
  overflow: hidden;
  /* right: 200px; */
  
  display: none;
}
.slide-container img{
height: 300px;
width: 400px;
}
.slideshow-container{
  /* width: 100%; */
  
  /* max-height: 670px; */
  overflow: hidden;
  float: right;
  /* right: 200px; */
}
img{
  /* width: 100%; */
  /* max-height: 670px; */
}
/* .content{
  text-align: center;
  padding: 0px 40px;
  font-family: arial;
  color: #404040;
}
.content p{
  text-align: justify;
  line-height: 1.6em;
  color: grey;
} */
.dot-container{
  position: absolute;
  /* top: 50px; */
  overflow: hidden;
  /* right: 50px;
  width: 42px;
  z-index: 1; */
}
.dot{

   display: hidden;
  /* margin-top: 10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 0px;
  margin-bottom: 5px;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px 1px #000;
  background: #fff;
  transition: all 0.4s ease;  */
}
 .active{
  /* background-color: blue; */
}
.fade{
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from{
    opacity: 0.2;
  }
  to{
    opacity: 1;
  }
}

.second{
  font-size: 38px;
  font-weight: 400;
  padding: 0;

}
.first {
  font-size: 42px;
  font-weight: 700;
  padding: 0;
  margin: 0;
          
}
.contuner2{
  position: absolute;
}
.slideshowwrd-container{
  /* position: ; */
}
.slide-containerwrd p{
  position: relative;
  /* right: 20px; */
  left: 410px;
  bottom: 102px;
  font-size: 32px;
  font-weight: 700;

}
.contuner29{
  position: absolute;
}

.slide-containerwrd2 p{
  position: relative;
  font-size: 32px;
  font-weight: 700;
  left: 560px;
/* top: 100px; */
/* left: 580px; */
/* top: 10px; */
/* bottom: -920px; */
bottom: 102px;

}



/* second img slider */
.contuner69{
  /* left: 420px; */
  /* bottom:150px; */
  /* width: 100%; */
  right: 150px;
  top: 10px;
  /* top: 200px; */
  position: relative;
/* bottom: 0px; */
/* top: -0px; */
  /* display:block;   */
  /* height: 100%; */
  z-index: 1;
  
  overflow: hidden;
}
.slide-container2{
  position: relative;
  /* width: 100%; */

  /* float:right; */
/* text-align: center; */

  /* float: left; */
  /* max-height: 670px; */
  overflow: hidden;
  
  display: none;
}
.slide-container2 img{
height: 300px;
width: 400px;
}
.slideshow-container2{
  /* width: 100%; */
  
  /* max-height: 670px; */
  overflow: hidden;
  float: right;
}
img{
  /* width: 100%; */
  /* max-height: 670px; */
}
/* .content{
  text-align: center;
  padding: 0px 40px;
  font-family: arial;
  color: #404040;
}
.content p{
  text-align: justify;
  line-height: 1.6em;
  color: grey;
} */
.dot-container2{
  position: absolute;
  /* top: 50px; */
  overflow: hidden;
  /* right: 50px;
  width: 42px;
  z-index: 1; */
}
.dot2{

   display: hidden;
  /* margin-top: 10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 0px;
  margin-bottom: 5px;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px 1px #000;
  background: #fff;
  transition: all 0.4s ease; */ 
}
.active{
  /* background-color: blue; */
}
.fade{
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from{
    opacity: 0.2;
  }
  to{
    opacity: 1;
  }
}














/* message css stsrt */
.form-style-9 {
  max-width: 450px;
  background: #FAFAFA;
  padding: 25px;
  margin: 40px auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 1px solid #0b0c0d;
}

.info {
  font-weight: bold;
  margin-bottom: 2px;
}

.form-style-9 ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.form-style-9 ul li {
  display: block;
  margin-bottom: 10px;
  min-height: 35px;
}

.form-style-9 ul li .field-style {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 8px;
  outline: none;
  border: 1px solid #161718;
  border-radius: 5px;
}

.form-style-9 ul li .field-split {
  width: 49%;
}

.form-style-9 ul li .field-full {
  width: 100%;
}

.form-style-9 ul li input.align-left {
  float: left;
}

.form-style-9 ul li input.align-right {
  float: right;
}

.form-style-9 ul li textarea {
  width: 100%;
  height: 100px;
}

.form-style-9 ul li input[type="button"],
.form-style-9 ul li input[type="submit"] {
  background-color: #050607;
  border: 1px solid #050606;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  padding: 8px 18px;
  text-decoration: none;
  font: 12px Arial, Helvetica, sans-serif;
}

.form-style-9 ul li input[type="button"]:hover,
.form-style-9 ul li input[type="submit"]:hover {
  background: linear-gradient(to bottom, #d39ee7 5%, #7b6ebe 100%);
  background-color: #000000;
}
/* end */


/*  team css */
/* body {
    color: #828282;
    font-size: 15px;
    line-height: 1.7;
} */
.section-title h2{
  color: #333;
}

.section-padding {
  padding: 80px 0;
}

.section-title {
  margin-bottom: 81px;
}
.section-title h2 {
  position: relative;
  z-index: 1;
  padding-bottom: 10px;
}

.section-title h2:before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 55px;
  height: 6px;
  background: #ECECEB;
  border-radius: 15px;
}


.section-title h2:after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 45px;
  height: 6px;
  background: #14ADF3;
  border-radius: 15px;
}
.owl-carousel .owl-item .single-staff-item img{
  max-width: 325px;
  width: 160px;
  border-radius: 50%;
}
.staff-meta {
  font-size: 12px;
  color: #b7b7b7;
  margin-top: 20px;
}

.staff-meta h3 {
  font-size: 20px;
  margin: 0 0 10px;
}
.staff-list .owl-nav button {
  display: inline-block;
  width: 50px;
  height: 40px;
  background-color: #f3f3f3 !important;
  margin-left: 10px;
  transition: .3s;
}
.staff-list .owl-nav button:hover{
  background: #14ADF3 !important;
  color: white !important;
}
.staff-list .owl-nav {
  position: absolute;
  right: 0;
  top: -46px;
}
.staff-desc{
  margin-top: 20px;
}
/* end of team css */

/* foooter  */

footer {
  position: relative;
  bottom: 0;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed h2 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h2 span {
  color: #5383d3;
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
  ;
}

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}


/* .footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
} */

@media (max-width: 880px) {
  .footer-distributed {
      font: bold 14px sans-serif;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
  }
  .footer-distributed .footer-center i {
      margin-left: 0;
  }
  .main {
      line-height: normal;
      font-size: auto;
  }
}




/* end of footer */









  /* media query down */
  @media only screen and (max-width: 900px) {
.vai{
  padding: 150px 120px 50px 80px;

}
.sec1{
  padding: 150px 0px 50px 80px;

}
.slide-containerwrd p{
  left: 330px;
  bottom: 102px;
}
.slide-containerwrd2 p{
  left: 480px;
  bottom: 102px;
}
.contuner{
  right: 50px;
}
.contuner69{
  right: 50px;
}
  }
  @media only screen and (max-width: 750px) {
.slide-containerwrd p{
  bottom: 60px;
  left: 80px;
}
.slide-containerwrd2 p{
  bottom: 60px;
  left: 80px;
}
  }
  @media only screen and (max-width: 600px) {
    .vai{
      padding: 150px  20px 50px 20px;
    
    }
    .sec1{
      padding: 150px 0px 50px 20px;
    
    }
    .slide-containerwrd p{
      bottom: 60px;
      left: 20px;
    }
    .slide-containerwrd2 p{
      bottom: 60px;
      left: 20px;
    }
  }
  @media only screen and (max-width: 450px) {
    #para1{
    font-weight: 700;
      font-size: 20px;
    }
.vai{
padding: 100px 20px 50px 20px;
}
.first{
font-size: 35px;
}
.second{
font-size: 30px;
}
.slide-container img{
  height:200px ;
  width: 300px;

}
.slide-container2 img{
  height:200px ;
  width: 300px;
}
.sec1{
  padding: 50px 20px 50px 20px;
}
.contuner{
  top: 30px;
}
.contuner69{
  top: 30px;
}
.yoyo{
  padding: 100px 0px 50px 0;
}
  }

  